# Let's Tidy the data

It is often said that 80% of data analysis is spent on the cleaning and preparing data. And itâ€™s not just a first step, but it must be repeated many times over the course of analysis as new problems come to light or new data is collected. To get a handle on the problem, this paper focuses on a small, but important, aspect of data cleaning that I call data tidying: structuring datasets to facilitate analysis.

In [ ]:
import pandas as pd

In [ ]:
df1= pd.read_csv('data/preg.csv')

In [ ]:
df2 = pd.DataFrame({'Treatment a' : {'John Smith': 125 , 'Jane Doe': 175 , 'Mary Johnson': 186 } ,
                    'Treatment b' : {'John Smith': 14 , 'Jane Doe': 12.9 , 'Mary Johnson': 20 }})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.T

In [ ]:
pd.melt(df1 , "name")

In [ ]:
pd.read_csv('data/preg2.csv')

In [ ]:
pd.melt(df1)

In [ ]:
df1

In [ ]:
pd.melt(pd.read_csv('data/preg.csv'), 'name')  #tidy data but not good for presentation or putting in a paper.

The idea here is to give a standard way to organize the data values within the dataset. 
To formalize the concept of rows and columns so that the analyst will get more time to focus on interesting domain problem , not on the uninteresting logistics of the data.


 1. Each variable forms a column.

 2. Each observation forms a row.

 3. Each type of observational unit forms a table.

Some common data problems

```

    Column headers are values, not variable names.

    Multiple variables are stored in one column.

    Variables are stored in both rows and columns.

    Multiple types of observational units are stored in the same table.

    A single observational unit is stored in multiple tables.

```

## Column headers contain values, not  variables names

In [ ]:
pew = pd.read_csv('data/pew.csv')

In [ ]:
pew.head()   
#Who can tell me why this dataset is not clean (from a data analytic point of view?)

In [ ]:
pd.melt(frame=pew,
        id_vars=['religion']
       ).head()

In [ ]:
pd.melt(pew,
        id_vars='religion',
        var_name='income', 
        value_name='count')

### Keep multiple columns fixed

In [ ]:
billboard = pd.read_csv('data/billboard.csv')

In [ ]:
billboard.head()

In [ ]:
pd.melt(billboard,
        id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
        value_name='rank', var_name='week')

##  Multiple variables are stored in one column.

In [ ]:
tb = pd.read_csv('data/tb.csv')
tb.head()

In [ ]:
import numpy as np

In [ ]:
list(np.arange(2,10)) + [4]

**How can we make the tb dataset tidy?**

In [ ]:
tb_male = tb.iloc[:,[0,1]+list(np.arange(2,12))].head() 
#tb_female=tb.iloc[:,[0,1]+list(np.arange(12,22))].head()

In [ ]:
tb_male.head()

In [ ]:
pd.melt(tb_male , 
        id_vars=['iso2', 'year'],
        var_name='male'
       ).head()

In [ ]:
ebola = pd.read_csv('data/ebola_country_timeseries.csv')

In [ ]:
ebola.head()

In [ ]:
# first let's melt the data down
ebola_long = ebola.melt(id_vars=['Date', 'Day'],
                        value_name='count',
                        var_name='cd_country')
ebola_long.head()

In [ ]:
var_split = ebola_long['cd_country'].str.split('_')
var_split

In [ ]:
type(var_split)

In [ ]:
var_split[0]

In [ ]:
var_split[0][0]

In [ ]:
var_split[0][1]

In [ ]:
# save each part to a separate variable
status_values = var_split.str.get(0)
country_values = var_split.str.get(1)

In [ ]:
status_values.head()

In [ ]:
country_values.head()

In [ ]:
# assign the parts to new dataframe columns
ebola_long['status'] = status_values
ebola_long['country'] = country_values

In [ ]:
ebola_long.head()

### above in a single step

In [ ]:
variable_split = ebola_long['cd_country'].str.split('_', expand=True)
variable_split.head()

In [ ]:
variable_split.columns = ['status1', 'country1']

In [ ]:
ebola = pd.concat([ebola_long, variable_split], axis=1)
ebola.head()

## Variables in both rows and columns

In [ ]:
weather = pd.read_csv('data/weather.csv')

In [ ]:
weather.head()

In [ ]:
weather_melt = pd.melt(weather,
                      id_vars=['id', 'year', 'month', 'element'],
                      var_name='day',
                      value_name='temp')

In [ ]:
weather_melt.head()

A lot of duplicate is going on on this dataset, we need to adress that

The **.pivot_table** is going to someway get us rid of duplicates and pivotting the element column 
    SO that, we gonna have for each observation, a single column for tmax as well tmin

In [ ]:
weather_tidy = weather_melt.pivot_table(
    index=['id', 'year', 'month', 'day'],
    columns='element',
    values='temp')
weather_tidy.head()

In [ ]:
weather_flat = weather_tidy.reset_index()
weather_flat.head()